body {
  background-color: white;
  font-size: 14px;
  color: #333;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0 0 10px 0;
  padding: 0;
  font-family: 'Verdana'
}
header {
  margin-top: 20px;
}
.navbar, .navbar-menu, .navbar-start {
    align-items: stretch;
    display: flex;
}
.navbar {
    padding: 1.2rem 0;
    box-shadow: none;
    z-index: auto;
}
.navbar {
    min-height: 3.25rem;
}
.navbar-item{
  margin-left: 50px;
}
.navbar-menu{
  float: right;
}
.container{
  width: 1120px;
  margin: 0px auto;
}
.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #08088A;
    color: #08088A;
}

.button.is-outlined {
    border-width: 2px;
}
.button.is-rounded {
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
}
.button.is-primary {
    background-color: #08088A;
    border-color: transparent;
    color: #fff;
}
.button {
    font-family: "europa",sans-serif;
}
a, .button {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #58D3F7;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: .75em;
    padding-right: .75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
}
.button, .input, .textarea, .select select, .file-cta, .file-name, .pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
}
.icon{
  height: 64px;
  width: 64px;
}
.navbar-menu{
  height: 78px;
}
.navbar-brand{
  background-color: transparent;
  float: left;
}

.navbar-item, .navbar-link {
color: #4a4a4a;
display: block;
line-height: 1.5;
padding: 0.5rem 0.75rem;
position: relative;
}

.hero-body{
  margin: 0px auto;
  float: center;
}

.column{
  margin: auto;
  text-align: center;
}
.navbar:after {
  clear: both;
}
.avata{
  margin: 0px auto;
  display: block;
}
