body {
  background-color: white;
  font-size: 14px;
  color: #333;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0 0 10px 0;
  padding: 0;
}
header {
  margin-top: 20px;
}

.container {
  width: 920px;
  margin: 0 auto 40px auto;
}

.header-title-area {
  margin-top: 40px;
  margin-bottom: 30px;
}

.logo {
  font-size: 36px;
  text-align: center;
}
.text-sub {
  color: #777;
}
.header-navigation {
  width: 100%;
  background-color: #2E2E2E;
  padding: 20px 0;
  color: white;

}

.header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

.header-navigation li {
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

.header-navigation li a {
  color: #F2F2F2;
  text-decoration: none;
}
.left-contents {
  width: 600px;
  /* height: 150px; */
  float: left;
  margin-bottom: 20px;
}

.right-contents {
  width: 300px;
  float: left;
}

.img{
  float: left;
  width: 150px;
  height: 150px;

}
.samune{
  float: left;
  width: 430px;
  height: 150px;
  margin-left: 20px;
  margin-bottom: 50px;

}
img.staff-image {
   height: 150px;
   width: 150px;
   margin-right: 20px;
   margin-bottom: 10px;
}
.date{
  font-size: 10px;
  color: #A4A4A4;
}
.midashi{
 font-size: 25px;
 margin-bottom: 10px;
 color: #58ACFA;
}
.naiyou{
  font-size: 15px;
  margin-top: 20px;
  color: #848484;
  margin-right: 25px;
}
img.staff-image2 {
   height: 40px;
   width: 40px;
   float: left;
   margin-right: 10px;

}
.left-contents2 {
  width: 50px;
  height: 50px;
  float: left;
}

.right-contents2 {
  width: 200px;
  float: left;

}
.date2{
  font-size: 10px;
  color: #BDBDBD;
}

.midashi2{
  font-size: 10px;
  color: #2ECCFA;

}
.staff-image2{
  width: 40px;
  height: 40px;
}

.card-contents2{
  float: left;
  width: 300px;
}
.main2{
  float: left;
}
.text-title2{
  margin: 10px;
}
img{
      border: 3px solid #E6E6E6;
}
.copyright {
  color: #777;
  text-align: center;
  clear: both;
}
.main:after,.card-contents:after,.container:after,.left-contents:after,.right-contents:after,.samune:after,.img:after,footer {
  clear: both;
  display: block;
  content: " ";
}
.wrapper {
  min-height: 100%;

  /* フッタの高さと等しいネガティブマージン */
  /* また最後の子要素の潜在的なマージンとしても機能 */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}
.main{
  height: 60px;

}
